*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Righteous', cursive;
    height: 100vh;
    background: linear-gradient(
        to right, #7f53ac,#657ced);
}

.container{
    position: absolute;
    width: 50%;
    min-width: 280px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* background:#fff; */
    background:#e76a81;
    padding: 50px 10px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    /* font-family:'poppins', sans-serif; */
    box-shadow:  10px 10px rgb(121, 109, 109);
    text-shadow: 1px 1px white;
}

h3{
    font-size: 30px;
    /* font-weight: 600; */
}

input[type="text"]{
    width: 120px;
    font-weight: 600;
    padding: 20px 0;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #202020;
    color: #663399;
}

button{
    width: 160px;
    padding: 15px 0px;
    border-radius: 5px;
    background-color: #663399;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

p{
    font-weight: 400;
    font-size: 20px;
    margin: 3px;
}

// If max-width:1255 then render this media queary
@media only screen and (max-width:1255px) {
    h3{
        font-size: 20px;
        text-align: center;
    }
}
